.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 10px;
    height: 10px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}